#root {
  margin: 0 auto;
  padding: 2rem;
}

:root {
  --main-bg-color: #fafafa;
  --header-bg-color: #0a0a0a;
  --header-text-color: #ffffff;
  --text-color: #000000;
    --gray-color: #808080;
  --page-max-width: 1024px;
  --accent-color: #EF5018;
  --footer-bg-color: #161616;
    --gap-size: 1.421rem;
    --card-bg-color: #EFEFEF;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
